@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}

.calculatorTitle {
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
  color: #17161d;
  margin-bottom: 20px;
}
.calculatorFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 80px;
  padding-bottom: 50px;
}

.calculatorFlexElement {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}
.calculatorFlexElement._white {
  background: #ffffff;
  border-radius: 5px;
  padding: 50px 20px;
  gap: 40px;
  max-width: 570px;
  width: 100%;
}

.calculatorFlexElement._orange {
  padding: 50px 60px;
  padding-right: 41px;
  background: #f9c843;
  border-radius: 5px;
  max-width: 570px;
  width: 100%;
  min-height: 500px;
}
.inputGroup {
  padding: 0px 20px;
  width: 100%;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
input[type="range"] {
  height: 38px;
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  margin-bottom: 20px;
  background: #e5e7eb;
}
.nums {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.jwyeRo {
  margin-bottom: 20px;
}

.jwyeRo {
  display: flex;
  align-items: center;
}
.jwyeRo .paymentText {
  width: 40%;
}
.paymentSum {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
  -ms-flex-pack: end;
  justify-content: end;
}
.payment {
  background: #f8f9fa;
  padding: 10px 15px;
  border-radius: 5px;
  width: 70%;
  text-align: end;
  font-size: 16px;
}
.percent {
  background: #f8f9fa;
  padding: 10px 15px;
  border-radius: 5px;
  width: 30%;
  text-align: end;
  font-size: 16px;
  margin-left: 10px;
}
.priceSum {
  background: #f8f9fa;
  padding: 10px 15px;
  border-radius: 5px;
  max-width: 140px;
  width: 100%;
  text-align: center;
  border: none;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 5px;
}

.price-value {
  font-size: 16px;
}
.month-value {
  padding: 10px;
  max-width: 70px;
  font-size: 16px;
}
.month-unit {
  display: block;
}
.calculator__subprice {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #5d5c63;
}
.calculator__price {
  font-weight: 700;
  font-size: 48px;
  line-height: 130%;
  color: #17161d;
  margin: 10px;
  margin-left: 0;
  margin-bottom: 20px;
}
.calculator__contract {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 320px;
  margin-bottom: 20px;
}
.calculator__contract p {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #5d5c63;
}

.sum-contract {
  font-weight: 500;
}

.chwvPL {
  display: inline-block;
  background-color: #ec6e44;
  font-weight: 700;
  padding: 12px 85px;
  height: 56px;
  color: #ffffff;
  text-align: center;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  width: 370px;
  white-space: nowrap;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.chwvPL:hover {
  background: #fff;
  border: 1px solid #ec6e44;
  color: #ec6e44;
}

.calculatorSubtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #5d5c63;
  margin-top: 20px;
}

.contribution,
.property-value {
  display: flex;
  justify-content: space-between;
}

.slider-value,
.price-label {
  display: block;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
}

/* inputs */
input[type="range"].styled-slider {
  -webkit-appearance: none;
}

/*progress support*/
input[type="range"].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 30px + var(--ratio) * (100% - 30px));
}

/*webkit*/
input[type="range"].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: url("input-arrows.svg") center/contain no-repeat content-box, #fff;
  border: 2px solid #ec6e44;
  box-shadow: none;
  margin-top: calc(3px * 0.5 - max(30px * 0.5, 1px));
  cursor: pointer;
}

input[type="range"].styled-slider::-webkit-slider-runnable-track {
  height: 3px;
  border: none;
  border-radius: 0.4em;
  background: #efefef;
  box-shadow: none;
}

input[type="range"].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#ec6e44, #ec6e44) 0 / var(--sx) 100% no-repeat,
    #efefef;
}

/*mozilla*/
input[type="range"].styled-slider::-moz-range-thumb {
  width: max(calc(30px - 1px - 1px), 0px);
  height: max(calc(30px - 1px - 1px), 0px);
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #ec6e44;
  box-shadow: none;
}

input[type="range"].styled-slider::-moz-range-track {
  height: 3px;
  border: none;
  border-radius: 0.4em;
  background: #efefef;
  box-shadow: none;
}

input[type="range"].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(#ec6e44, #ec6e44) 0 / var(--sx) 100% no-repeat,
    #efefef;
}

/*ms*/
input[type="range"].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type="range"].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type="range"].styled-slider::-ms-thumb {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid #ec6e44;
  box-shadow: none;
  margin-top: 0;
  box-sizing: border-box;
}

input[type="range"].styled-slider::-ms-track {
  height: 3px;
  border-radius: 0.4em;
  background: #efefef;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
}

input[type="range"].styled-slider.slider-progress::-ms-fill-lower {
  height: 3px;
  border-radius: 0.4em 0 0 0.4em;
  margin: -undefined 0 -undefined -undefined;
  background: #ec6e44;
  border: none;
  border-right-width: 0;
}

/* adaptive */
@media screen and (max-width: 1170px) {
  .calculatorFlex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
  }
}

@media screen and (max-width: 700px) {
  .jwyeRo,
  .price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    white-space: nowrap;
  }

  .paymentSum {
    width: 100%;
  }

  .chwvPL {
    padding: 20px 10px;
    width: 100%;
  }
  .calculatorFlexElement._orange {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 570px) {
  .calculatorFlexElement._orange {
    border-radius: 0;
  }
}
